{% extends "base.html" %}


{% block dokonania %}

{% for post in posts %}
<div class="jumbotron">
    <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaks }}</p>
    
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

    <hr class="featurette-divider">
</div>
{% endfor %}

{% endblock %}


<hr class="featurette-divider">
