{% extends "base.html" %}

{% block kontakt %}
<div class="jumbotron">
        <h1 align="center">Dane kontaktowe</h1>
        <h2>P.W. "Maros" Marek Sobczyk</h2>
		<p>Adres główny:</p>
		<p>ul.Czereśniowa 12/1</p>
		<p>21-040 Świdnik</p>
		<h2>Adres Biura Obsługi Klienta:</h2>
		<p>ul. Przemysłowa 2</p>
		<p>21-040 Świdnik</p>
		<p>telefon: 501-250-999</p>
		<p>fax: 81 458 00 17</p>
		<p>NIP: 713-124-83-36</p>
		<p>Regon: 060009201</p>
		<p>Nr konta bankowego:</p>
		<p>BGŻ S.A. oddział Świdnik</p>
		<p>40 2030 0045 1110 0000 0104 1650</p>

        
</div>
{% endblock %}