{% extends "base.html" %}

{% block oferta %}
<div class="jumbotron">
        <h1 align="center">Zakres naszych usług</h1>
        <p>
Zakres naszych usług obejmuje:

    wykonywanie wykopów ziemnych, nasypów,
    wykonywanie zasypek z zagęszczeniem gruntu, zasypywanie fundamentów,
    karczowanie i niwelację terenu,
    rozbiórki budynków mieszkalnych i przemysłowych,
    transport materiałów sypkich: piasek, żwir, pospółka, kruszywa budowlane, ziemia,
    wywożenie gruzu z rozbiórek i pobudowlanego.

Transport żwiru

Proponujemy transport żwiru na terenie Świdnika i całego województwa lubelskiego. Posiadamy w zasobach wywrotki o ładowności 10-30 ton oraz ładowarki, przystosowane do załadunku i transportu żwiru.
Transport piasku

Oferujemy transport piasku przy użyciu wywrotek o ładowności 10-30 ton. Dysponujemy zaawansowaną technicznie ładowarką oraz wykwalifikowaną kadrą. Oferujemy transport Piasku w Świdniku i okolicach.
Roboty ziemne

Wykonujemy roboty ziemne na terenie Świdnika i nie tylko. Oferujemy wykopy pod drogi, fundamenty, a także niwelowanie i skarpowanie terenu i inne. Wykonujemy prace ziemne w pełni zawodowo.
Utylizacja odpadów

Utylizacja odpadów to ważny element polityki chroniącej środowisko naturalne. Firma Maros prowadzi prace z zakresu gospodarowania odpadami oraz ich profesjonalnej utylizacji. Zapraszamy do Świdnika
Wyburzanie i rozbiórka budynków

Wykonujemy wyburzanie i rozbiórkę budynków przy pomocy młota wyburzeniowego Cat, zamontowanego na koparko-ładowarce Caterpillar. Oferujemy wyburzenia i rozbiórki na terenie Świdnika i nie tylko.
Odśnieżanie placów i ulic

Oferujemy odśnieżanie placów, ulic, parkingów i innych powierzchni, na których zalega śnieg i lód. Proponujemy również posypywanie odśnieżonych terenów solą lub piaskiem. Świadczymy usługi w Świdniku 
Wywóz gruzu z rozbiórek i pobudowlanego

Proponujemy wywóz gruzu z rozbiórek i pobudowlanego za pomocą nowoczesnych wywrotek o ładowności od 10 do 30 ton. Zapewniamy rzetelność i terminowość wywozu gruzu.
Usługi Bobcatem

Wykonujemy usługi Bobcatem, profesjonalną ładowarką kołową. Oferujemy wynajem naszego sprzętu do robót w budownictwie mieszkalnym, drogowym i innych. Świadczymy usługi Bobcatem w Świdniku i okolicach.
Transport materiałów sypkich

Oferujemy transport materiałów sypkich na terenie Świdnika i całej Polski. Dysponujemy wywrotkami o ładowności 10-30 ton. Zapewniamy atrakcyjne ceny transportu na terenie Świdnika i nie tylko.
Skład materiałów sypkich

Prowadzimy skład materiałów sypkich w Świdniku. Oferujemy piasek, żwir oraz ziemię, zapewniając atrakcyjne ceny oraz specjalistyczny transport. Zapraszamy do naszego składu w województwie lubelskim.
Usługi ogrodnicze

Nasza oferta skierowana jest do spółdzielni mieszkaniowych, firm oraz osób prywatnych. Zajmujemy się pracami ogroniczymi: koszeniem trawników, nasadzaniem drzew i krzewów, wycinaniem drzew oraz przycinaniem żywopłotów i krzewów.

Nasza oferta jest skierowana do wszystkich, którzy poszukują doświadczonej i solidnej firmy wykonującej wszelkiego rodzaju usługi związane z pielęgnacją terenów zieleni od niewielkich przydomowych posesji do dużych obszarów zieleni miejskiej.

Prace wykonujemy profesjonalnym sprzętem, dlatego współpraca z naszą firmą to nie tylko korzyści w postaci bardziej przyjaznego miasta, osiedla czy miejsca pracy, ale także likwidacja ryzyka i kosztów związanych z zatrudnianiem kadry zaangażowanej w prace porządkowe.
Rozdrabnianie gałęzi rębakiem oraz wywóz odpadów zielonych

Po przycięciu drzew oraz wycince drzew, świadczymy usługę rębakowania gałęzi.

Rębakowanie gałęzi polega na rozdrobnieniu gałęzi dzięki czemu ze sterty gałęzi tworzy się mała ilość trocin, którą możemy rozsypać pod krzewy zamiast kory ogrodowej.

-nasza firma świadczy także usługę wywozu odpadów zielonych (trawa, liście, gałęzie).
Wycinanie samosiejek

Samosiejki porastające naszą działkę to duży kłopot. Pozostawienie terenu przez lata bez wycinki samosiejek może doprowadzić do wyrośnięcia na naszej działce dzikiego lasu. Po okresie 10 lat trzeba będzie ubiegać się o zgodę urzędników miasta lub gminy na wycięcie samosiejek. Nasza firma zajmuje się karczowaniem samosiejek z terenów zieleni w całym województwie Lubelskim
</p>
</div>
{% endblock %}