{% extends "base.html" %}

{% block ofirmie %}
<div class="jumbotron">
		<font color="black">
	        <h1 align="center">Parę słów o nas</h1>
	        <p class="lead" align="justify">P.W. "Maros" Marek Sobczyk z siedzibą w Świdniku to firma zajmująca się świadczeniem usług koparko-ładowarką oraz transportem materiałów sypkich. Na rynku lubelskim istniejemy od 2000 roku. Działalność naszej firmy opiera się trzech podstawowych zasadach:</p>
	        <p align="justify">Rzetelność - Działamy w branży od ponad 12 lat. Nasze doświadczenie przekładamy na fachowość wykonywanych usług.</p>
	        <p align="justify">Profesjonalizm - Dysponujemy sprzętem, który zapewnia bezpieczną i profesjonalną obsługę w możliwie najszybszym czasie.</p>
	        <p align="justify">Konkurencyjne ceny -  Nasze usługi to najlepsza inwestycja - wysoki standard usług w przystępnej cenie. A w przypadku kompleksowych usług oferujemy atrakcyjne zniżki!</p>
        </font> 
</div>
{% endblock %}