{% extends "base.html" %}


{% block tabor %}

{% for tabor in tabors %}
<div class="jumbotron">
            <div class="row">
               
                    <p align="center"> {{ tabor.machine }}</p>
                
            </div>
    <hr class="featurette-divider">
        <div class="row featurette">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src='{{ tabor.image_t.url }}' class='img-responsive' />
                </div>
            </div>
        </div>
    <hr class="featurette-divider">
</div>
{% endfor %}

{% endblock %}





 <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->